.spinner-border {
  border-width: 0.2em;
  width: 4rem;
  height: 4rem;
  border-top-color: $primary !important;
}

.spinner-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
} 

.main-navbar {
  width: 100vw;
  left: 0;
  position: relative;
  border-radius: 0;
}

.user-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  align-items: start;
}

.user-details-actions {
  grid-column: 1 / span 2;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}